---
---

@import "{{ site.theme }}";

.project-name {
  margin-top: 0;
  margin-bottom: -4rem;
  font-size: 5.25rem;
  opacity: 0.9;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  font-size: 1.75rem;
}
