---
---

@import "{{ site.theme }}";

// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #1798c1 !default;
$header-bg-color: #1798c1 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #1798c1 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

.project-name {
  margin-top: 0;
  margin-bottom: -3rem;
  font-size: 5.25rem;
  opacity: 0.9;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  font-size: 1.75rem;
}

.page-header {
  color: #1798c1;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  padding: 2rem 1rem;
}


