---
---

@import "{{ site.theme }}";

.project-name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5.25rem;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
  font-size: 3.25rem;
}
